/*==========================================================================
  GENERAL
========================================================================== */

body {
  color: $font-color;
  font:14px/1.4 'Lato', sans-serif;
  margin: 0;
  background: url(../images/bgmap.jpg) center top no-repeat;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

#main{
	padding-bottom:70px;
	background:transparent;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
//#{headings()}{
//	font-weight:normal;
//	line-height:1.3em;		
//}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ======== TITLE ======== */

.title-blackmd{
	margin:0;
	padding:0;
	font: 700 18px 'Lato', sans-serif;
	color:$title-color;
	margin-bottom:$pixel - 3;
}

/* ======== BUTTON ======== */

.btn-center{
	text-align:center;
	padding-top:$pixel + 8;
	position:relative;

	&:before{
		content :"";
		position:absolute;
		left:0;
		right:0;
		top:0;
		margin:0 auto;
		@include size( 80%, 1px);
		background:$grey; 
	}
}

.btn-orange{
	margin:0;
	background:none;
	padding:0;
	@include inline-block();
	padding:12px 20px; 
	min-width:215px;
	white-space: normal;
	text-align:center;
	color:white;
	font: 700 18px 'Lato', sans-serif;
	border:1px solid darken($orange-color, 15%);
	position:relative;
	z-index:1;
	background-color: $orange-color;
	overflow:hidden;
	@include prefixed(transition, all 0.3s);

	@include btn-orangegrad();
	
	&.logout{
		&:before{
			content: '';
			position:absolute;
			left:10px;
			top:13px;
			@include size(23px, 24px);
			background:image-url("icons/out.png") left top no-repeat;
		}
	}

	&:hover{
		border:1px solid white;
	}
}

.link-green{
	@include inline-block();
	color:$green;
	font: 700 16px "Lato", sans-serif;
	@include prefixed(transition, all .3s linear);
	&:hover{
		text-decoration:none;
		color:$orange-color;
	}
}


/* ======== COLOR ======== */
.text-greenlt{
	color:#70ff49;
}

/* ======== LAYOUT ======== */
.centered {
  width: 100%;
  min-height: 100px;
  width: 95% \9;
  width: 95%;
  max-width: 820px;
  margin: 0 auto 23px auto;
  margin-bottom: 70px;
}
