/*LATO*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
//font-family: 'Lato', sans-serif;

/*OPEN SANS*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);
//font-family: 'Open Sans', sans-serif